body {
  animation: flash-bg 1.5s infinite;
  font-family: Arial, sans-serif;
  background-color: white;
  color: #cccccc;
  margin: 0;
  padding: 20px;
}

h1 {
    font-size: 600%;
}

@keyframes flash-bg {
  0%, 100% { background-color: white; }
  50% { background-color: #ffeccc; }
}


#dog-image {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

#button-container button {
    margin: 1px;
    padding: 1px;
    font-size: 4px;
    cursor: pointer;
}